.inner_container {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
}

.add_product_page {
    margin-top: 80px;
    gap: 100px;
    padding-bottom: 10px;

}

.page_title {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.add_product_page_div {
    margin-bottom: 40px;

}

.add_product_form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: block;
    background-color: #fff;

}

.input {
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
    padding: 6px;

    border: 1px solid #AAAAAA;
    border-radius: 4px;
}

.upload_image_div {
    width: 200px;
}

input[type="file"] {
    display: none;
}

.custom_file_upload {
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    text-align: left;
    padding: 6px 12px;
    cursor: pointer;
}



.input_title {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}


.input:focus {
    outline: none;
}

.input_price {
    width: 100px;
}

.button_submit {
    background: #FB9B5A;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    display: flex;
    margin-top: 4px;
    justify-content: space-around;
    transition: all 0.3s ease-in;

}

.button_submit:hover {
    background-color: #F4873D;
    cursor: pointer;
    transition: 0.5s;

}

.dropdown,
ul.submenu {
    display: none;
}

/*position the label*/
label {
    position: relative;
    display: block;
    cursor: pointer;
}

/*show the submenu when input is checked*/
.dropdown:checked~ul.submenu {
    display: block;
}

.preview_images {
    display: flex;
    gap: 8px;
    flex-flow: row wrap;
    margin-bottom: 12px;
}

.preview_image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    -webkit-filter: brightness(100%);
    border-radius: 4px;
}


.image_block:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
    z-index: 0;
}

.image_block {
    position: relative;
}

.icon_delete {
    position: absolute;
    z-index: 100000;
    left: 0; 
    top:0;
    bottom: 0;
    right: 0; 
    margin-left: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    margin-right: auto; 
    color: #fff;
    opacity: 0;
}

.image_block:hover .icon_delete {
    opacity: 1;
    transition: all 0.5s ease;
}