.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rec.rec-arrow-right {
  position: absolute !important;
  right: -5% !important;
  color: #DBDBDB !important;
  background-color: #fff;
  cursor: pointer !important;
  border: none !important;
  box-shadow:none!important;
}

.rec.rec-arrow-right:hover, .rec.rec-arrow-left:hover {
  background-color: #fff!important;
  color: #9D9D9D;
}


.rec.rec-item-wrapper{
  width: 100%!important;

}

.rec-swipable{
  padding: 10px;

}

.ga{
  justify-content: space-between;
  min-width: 1080x; 
}

.biYdFZ{
  margin: 0px 0px!important;
  padding: 0px 0px!important;
}

.rec.rec-arrow-left {
  position: absolute !important;
  left: -5% !important;
  background-color: #fff;
  box-shadow:none!important;
  color: #DBDBDB !important;
  cursor: pointer !important;
}

.rec.rec-dot{
  width: 8px!important;
  height: 8px!important;
  box-shadow: none!important;

}

.ezKHIn{
  background-color: #e8e8e8 !important;

}

.cVXxbE{
  width: 3px!important;
  height: 3px!important;
  box-shadow: none!important;
  background-color: #FB9B5A !important;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
