.inner_container {
    width: 1040px;
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
}

.cart_page {
    margin-top: 80px;
    display: flex;
    justify-content:space-between;
    gap: 100px;
}

.product_list_block {
    width: 44%;
    border-radius: 4px;
    padding: 16px;
    /* border: 1px solid #a6a6a6; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);

}

.order_price_block {
    width: 40%;
}

.title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.title_order{
    font-weight: 700;
    font-size: 16px;
    /* margin: 24px 0 0 24px; */
    text-align: left;

}

.line {
    margin: 16px 0;
    color: #a6a6a6;
}

.img_product {
    width: 130px;
    margin-right: 16px;
    height: 130px;
}

.product_cart {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    /* width: 600px; */
}

.right_block {
    display: flex;
}

.title_product {
    font-weight: 600;
    margin-bottom: 4px;
}

.size_product {
    text-align: left;
    color: #AAAAAA;
    font-size: 14px;
}

.count_block {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    text-align: left;
}

.icon {
    color: #B7B7B7;
    cursor: pointer;
}

.icon_close {
    text-align: right;
    color: #B7B7B7;
    float: right;
}

.price_product {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 600;
}

.count {
    font-weight: 600;
}

.total_price_block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.total_price_title {
    font-weight: 500;
}

.total_price {
    font-weight: 600;
}

.delivery_block {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.delivery_title {
    font-weight: 500;
}

.delivery_price {
    font-weight: 600;
}

.input, .input_address {
    width: 48%;
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    padding: 8px;
    font-size: 14px;
}

.input_address{
    width: 100%;
}

.checkout_block{
    display: flex;
    gap: 16px;
    flex-flow: row wrap;

}

.input_address, .input:focus {
    outline: none;
}


.title_data{
    text-align: left;
    font-weight: 700;
    margin-bottom: 16px;
}

.total_block{
    display: flex;
    justify-content:space-between;
    margin-top: 16px;
}

.total_title, .total{
    font-size: 16px;
    font-weight: 700;
}

.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.button_confirm{
    float: left;
    /* width: 140px; */
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #FB9B5A;
    font-weight: 500;
    padding: 12px 24px;
    transition: all 0.3s ease-in;
}

.button_confirm:hover{
    background-color:#F4873D;
    cursor: pointer;
    transition: 0.5s;

}

.button_shopping{
    color: #FB9B5A;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in;

}

.button_shopping:hover{
    color: #F4873D;
    cursor: pointer;
    transition: 0.5s;

}

