.inner_container {
    width: 1040px;
    text-align: center;
    margin: 0 auto;
}


.catalog_page {
    margin-top: 80px;
}

.bc {
    display: flex;
    align-items: center;
    gap: 2px;
}

.catalog_bc {
    color: #959595;
    font-size: 12px;
}

.icon_arrow_bc {
    color: #959595;
}

.category_bc {
    color: #333;
    font-weight: 500;
    font-size: 12px;
}

.category_catalog {
    text-align: left;
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
}

.prices_block {
    text-align: left;
    width: 25%;
}

.catalog_block {
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
}


.filters_block {
    text-align: left;
}

.filter_price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.button {
    background-color: #FB9B5A;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: 0;
    border-radius: 4px;
}

.button:hover {
    background-color: #F4873D;
    transition: 0.5s;
}

.input_price {
    width: 60px;
    height: 30px;
    /* color: #AAAAAA; */
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #AAAAAA;
    font-size: 14px;
    background: #FFFFFF;
}

.input_price:focus {
    outline: none;
}

.price_button {
    font-size: 12px;
    padding: 8px 16px;
    font-weight: 500;
}

.preparation {
    font-size: 16px;
    font-weight: 600;
    margin-top: 28px;
    margin-bottom: 12px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
}



.checkmark_block {
    display: flex;
    align-items: center;
}

.type {
    display: flex;
    gap: 8px;
    align-items: center;
}

.type_product {
    font-size: 14px;
}

.count_products {
    color: #B7B7B7;
    font-size: 14px;
}

.type:not(:last-child) {
    margin-bottom: 12px;
}

.reset_filters {
    margin-top: 28px;
    color: #FB9B5A;
    cursor: pointer;
    text-decoration: underline;
}
 
.product_cart {
    display: inline-block;
    padding: 16px 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    transition: all 0.3s ease-in;
    margin-bottom: 16px;
    text-align: left;

}

.product_photo {
    object-fit: cover;
    width: 200px;
}

.title_product {
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
}

.description_product {
    font-size: 12px;
    color: #797979;
    width: 200px;
    margin: 8px 0 12px 0;
    line-height: 150%;

}

.price_block {
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: space-between;
}

.price_product {
    color: #FB9B5A;
    font-weight: 700;
    font-size: 14px;

}

.small_button {
    background: #FB9B5A;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    opacity: 0;
}

.product_cart:hover .small_button {
    opacity: 1;
    transition: 0.5s;

}

.product_cart:hover {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.products_block {
    /* margin-left: 40px; */
    width: 75%;
    gap: 16px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.show_button {
    color: #FB9B5A;
    background-color: #fff;
    border: 1px solid #FB9B5A;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 40px;
    transition: all 0.3s ease-in;

}

.show_button:hover{
    background-color: #FFF2E9;
    transition:  0.5s;

}

.products_viewed_block {
    margin-top: 60px;
}

.products_viewed_title {
   
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.products_viewed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0 60px 0;
}

.dropdown_sort {
    position: relative;
    display: inline-block;
    float: right;
}

.link{
    color: #333;
}

.link:hover{
    color: #333;
}



.dropdown_content {
    text-align: left;

    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    display: none;
    right: 0;

    position: absolute;
    background-color: #fff;
    width: 200px;
    /* padding: 12px 16px; */
    z-index: 1;

}

.dropdown_content a {
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.link{
    text-decoration: none;
  }
  

.dropdown_content a:hover {
    border-radius: 4px;
    background-color: #f1f1f1;
}


.dropdown_sort:hover .dropdown_content {
    display: block;
}

.arrow_left{
    position: absolute;
    left: 70px;
    color: #DBDBDB;
    cursor: pointer;
}

.arrow_right{
    position: absolute;
    right: 70px;
    color: #9D9D9D;
    cursor: pointer;
}

