.footer {
    width: 100%;
    /* position:absolute; */
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1;
    color: #fff;
    background-color: #333333;
}

.inner_footer {
    width: 1040px;
    margin: 0 auto;
    height: 100%;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    width: 160px;
}

.name_footer{
    font-size: 14px;
    font-weight: 600;
}

.link{
    text-decoration: none;
}
  

.ul_nav{
    font-weight: 300;
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation_footer{
    font-weight: 300;
    height: 12px;

}

.a_nav, .l_nav {
    font-weight: 300;
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.rights_reserved_footer{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
}

.socials{
    padding: 0;
    display: flex;
    gap:20px;
    height: 100%;
}

@media screen and (max-width: 1080px) {
    .inner_footer {
        width: 900px;
       
    }
}

@media screen and (max-width: 950px) {
    .inner_footer {
        width: 800px;
    }
}

@media screen and (max-width: 830px) {
    .logo{
        width: 100px;
    }
    .inner_footer {
        width: 688px;
    }

    .socials{
        display: none;
       
    }
    
}

@media screen and (max-width: 710px) {
    .logo{
        width: 100px;
    }
    .inner_footer {
        width: 600px;
    }

    .socials{
        display: none;
       
    }
    
}

@media screen and (max-width: 650px) {
    .logo{
        width: 100px;
    }

    .inner_footer {
        width: 500px;
    }

    .ul_nav{
        gap: 20px;
    }

    .a_nav, .l_nav {
        font-size: 11px;
       
    }

}

@media screen and (max-width: 530px) {
    .logo{
        width: 70px;
    }

    .inner_footer {
        width: 400px;
    }

    .ul_nav{
        gap: 10px;
    }

    .a_nav, .l_nav {
        font-size: 10px;
       
    }
}
 
    
    @media screen and (max-width: 430px) {
        .logo{
          display: none;
        }
    
        .inner_footer {
            width: 336px;
        }

        .navigation_footer{
            margin: 0 auto;
            width: 100%;
        }
    
        .ul_nav{
            margin: 0 auto;
            justify-content:space-between;
        }
    
        .a_nav, .l_nav {
            font-size: 10px;
        }
    
     
    }