.inner_container {
    width: 1040px;
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
}

.product_card_page {
    margin-top: 80px;
}

.bc {
    display: flex;
    align-items: center;
    gap: 2px;
}

.catalog_bc {
    color: #959595;
    font-size: 12px;
}

.icon_arrow_bc {
    color: #959595;
}

.category_bc {
    color: #333;
    font-weight: 500;
    font-size: 12px;
}

.product_card {
    margin-top: 20px;
    display: flex;
    gap: 60px;
}

.right_div {
    width: 50%;
    text-align: left;
}

.product_photos {
    width: 40%;
}

.main_photo_product {
    width: 100%;
    margin-bottom: 12px;
    width: 440px;
    height: 370px;
    border-radius: 8px;
}

.title_product_card {
    font-size: 24px;
    font-weight: 700;
}

.product_photos_miniature {
    display: flex;
    width: 140px;
    height: 110px;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
}

.photo_product_mini{
    
}

.photo_product {
    width: 132px;
}

.reviews_block_link {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 8px;
}

a {
    color: #333;
}

.reviews_links {
    color: #333;
    display: flex;
    gap: 6px;

    text-decoration: underline;
    line-height: 16px;
}

.stars {
    color: #FB9B5A;
}

.price_block {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

}

.prices {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price {
    font-size: 22px;
    font-weight: 700;
}

.full_price {
    text-decoration: line-through;
    color: #B7B7B7;
}

.in_stock_block {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #7EAC1B;
}

.in_stock {
    font-size: 14px;
}

.add_button {
    background-color: #FB9B5A;
    color: #fff;
    font-size: 14px;
    padding: 12px 24px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    transition: all 0.3s ease-in;

}

.add_button:hover {
    background-color: #F4873D;
    cursor: pointer;
    transition: 0.5s;

}

.acor_container .acor_body {
    margin: 0 auto;
    height: 0;
    line-height: 18px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 16px;
    line-height: 150%;

}

.acor_body {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.acor_container label {
    cursor: pointer;
    display: block;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-size: 18px;
    transition: color .35s;
    font-weight: 500;

}

.acor_container input {
    display: none;
}

.acor_container label:before {
    content: '\276F';
    float: right;
}

.acor-container input:checked+label {
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor_container input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor_container input:checked+label+.acor_body {
    height: auto;
    color: #000;
    padding: 20px 0 10px 0;
}

.line {
    color: #AAAAAA;
}

.products_viewed_block {
    margin-top: 60px;
}

.products_viewed_title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.product_cart {
    display: inline-block;
    padding: 16px 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    transition: all 0.3s ease-in;
    margin-bottom: 16px;
    text-align: left;

}

.product_photo {
    object-fit: cover;
    width: 200px;
}

.title_product {
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
}

.description_product {
    font-size: 12px;
    color: #797979;
    width: 200px;
    margin: 8px 0 12px 0;
    line-height: 150%;

}

.price_block {
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: space-between;
}

.price_product {
    color: #FB9B5A;
    font-weight: 700;
    font-size: 14px;

}

.small_button {
    background: #FB9B5A;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s ease-in;

}

.small_button:hover {
    background-color: #F4873D;
    transition: 0.5s;
}


.product_cart:hover .small_button {
    opacity: 1;
    transition: 0.5s;

}

.product_cart:hover {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.products_block {
    width: 75%;
    gap: 16px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.products_viewed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0 60px 0;
}

.arrow_left {
    position: absolute;
    left: 70px;
    color: #DBDBDB;
    cursor: pointer;
}

.arrow_right {
    position: absolute;
    right: 70px;
    color: #9D9D9D;
    cursor: pointer;
}

.block_reviews {
    display: flex;
    gap: 80px;
}

.reviews {
    width: 70%;
    text-align: left;
}

.leave_feedback {
    width: 30%;
    text-align: left;

}

.block_reviews h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
}

.reviews_div {
    display: flex;
    margin-bottom: 24px;

}

.review_data {
    width: 100%;
}

.review_text {
    font-size: 14px;
    margin-top: 4px;

}

.name_reviewer {
    font-size: 16px;
    font-weight: 500;
}

.review_date {
    font-size: 14px;
    margin-top: 4px;
    color: #AAAAAA;
}

.input_name,
.input_feedback {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #AAAAAA;
}

.input_feedback {
    margin-top: 16px;
    height: 120px;
}

textarea {
    resize: none;
}

.input_name,
.input_feedback:focus {
    outline: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    gap: 8px;
    margin-bottom: 80px;
}

.pagination_page{
    display: flex;
    gap: 12px;
}

.page{
    color: #AAAAAA;
}

.arrow_left_p, .arrow_right_p{
    color: #AAAAAA;

}